
models/
gguf_models/
build/
build-android/
test/current-submodule-standalone-release
build-release-current/
build-rel/
build-android-official-cpu/
build-*/
__pycache__/
*.pyc
ops_time/
src/llama.cpp/exp1/
test/toolchains/
test/*.tar.gz
*.gguf

/home/tianruiming/CE_ADA_LLAMA/1571178804paper(1).pdf
/home/tianruiming/CE_ADA_LLAMA/algorithm.pdf
src/llama.cpp/3dparty/oneDNN