
models/
gguf_models/
build/
build-android/
test/current-submodule-standalone-release
build-release-current/
build-rel/
build-android-official-cpu/
build-*/
__pycache__/
*.pyc
ops_time/
test/toolchains/
test/*.tar.gz
*.gguf
